name: chess44
description: A client written in flutter for chess44

publish_to: 'none'

version: 1.1.0

environment:
  sdk: ">=2.17.1 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  # custom
  chess_4p_connection:
    path: packages/chess_4p_connection
  chess_4p:
    path: packages/chess_4p
  flutter_chess_4p:
    path: packages/flutter_chess_4p
  # state management
  bloc: ^8.1.1
  flutter_bloc: ^8.1.2
  get_it: ^7.2.0
  # storing
  shared_preferences: ^2.1.0
  # theming
  flutter_nord_theme:
    git:
      url: https://github.com/bit-burger/flutter-nord-theme.git
      ref: main
  # new widgets
  bitsdojo_window: ^0.1.5
  chess_vectors_flutter: ^1.0.18
  pin_code_fields: ^7.4.0
  flutter_svg: ^2.0.6
  # config
  flutter_dotenv: ^5.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true

  assets:
  # config
    - .env
  # SVGs
    - assets/chess_logo.svg

  fonts:
    # custom icons
    - family: ChessIcons
      fonts:
        - asset: packages/flutter_chess_4p/ttf/ChessIcons.ttf

